.home {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 3em;
  margin: 10px;
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.7));
}

.title:hover {
  cursor: pointer;
}
