.filters {
  display: grid;
  grid-auto-flow: column;
  width:80%;
  gap:10px;
  grid-auto-columns: 1fr;
  /* height: 2em;  */

}

.filters * {
  height: 2rem; 

  text-align: center;
  border: solid gray 1px;
  border-radius: 5px;
}

.filters select { 
  cursor: pointer;
}

@media (max-width: 1000px) {
  .filters {
    grid-auto-flow:row;
    width: 90%;
    gap: 5px;
  }
}

