.statsValue {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.breedingValue {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.pokemonInfo {
  padding: 15px;
}
.fieldTitle {
  margin: 5px 0px;
}

.fieldValue {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  box-shadow: 0px 0px 3px;
  padding: 8px;
  margin-bottom: 10px;
}
